*{
    scroll-behavior: smooth;
    scroll-margin: 140px;
}
body{
    background-color: #e8e8e8;
    color: #000000;
    overflow: hidden;

}
@font-face {
    font-family: 'Charlottenburg';
    src: url('Charlottenburg-Circles.ttf') format('truetype');
    font-style: normal;
}
.navbar-brand{
    font-family:'Charlottenburg';
    font-size: 3rem;
}
.nav-link{
    font-family: "Montserrat";
    font-weight: 600;
    color: #000000; 
    transition-duration: 0.6s;
}
.nav-link:hover{
    color: #362ef1;
}
.navbar .nav-link.active {
    color: #362ef1;
}
.navbar{
    border-bottom: solid 2px #000000;
}
#navbarSupportedContent{
text-align: start;
}
.typed-cursor {
color: #362ef1;
}

.Slogan{
    transform: rotate(270deg);
    font-family: "Montserrat";
    color: #362ef1;
    font-weight: 600;
    font-size: 1.25rem;
}
.horizintalLine{
    width: 2px;
    background-color: #362ef1;
    position: absolute;
    bottom:0px;
    height: 12.5rem;
    display: flex;
    align-self: center;
}
.sideBar{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.icon{
    width: 60px;
    height: 60px;
}
.sectionTitle{
    font-family: "Syne";
    font-weight: 900;
    color: #362ef1;
}
.content{
    padding-left: 76px;
}
.homeContent{
    font-family: "Krona One";
}
.desc{
    font-family: "Montserrat";
    font-weight: 700;
}
.descBold{
    font-weight: 900;
    color: #362ef1;
}
.paragraph{
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.5;
    max-width: 60%;
}
.containerone{
    margin-top: 6.625rem;
}
.frame{
    border: solid 2px #000000;
    cursor: pointer;
    overflow: hidden;
}
.ilustrationImg{
    transition-duration: 0.6s;
}
.ilustrationImg:hover {
    transform: scale(1.1);
}
.frameTwo{
    position: relative;
    border-top: solid 2px #000000;
    background-color: #ffffff;
    z-index: 3;
}
.titleIllus{
    font-family: "Krona One";
    font-weight: 900;
    cursor: pointer;
    transition-duration: 0.6s;
    font-size: 1.25rem;
}
.titleIllus:hover{
    color: #362ef1;

}
.descIllus{
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.5;
    max-width: 80%;   
}
.button{
    background-color: #ffffff;
    border: solid 2px #000000;
    height: 2.8rem;
    transition-duration: 0.6s;
}
.button:hover{
    color: #362ef1;
}
.buttonText{
    font-family: "Montserrat";
    font-weight: 700;
}
.framecard{
    border: solid 2px #000000;
    cursor: pointer;
    overflow: hidden;
    
}
.framecardtwo{
    position: relative;
    border-top: solid 2px #000000;
    border-right: solid 2px #000000;
    border-bottom: solid 2px #000000;
    background-color: #ffffff;
    z-index: 3;
}
.titleVideo{
    font-family: "Krona One";
    font-weight: 900;
    cursor: pointer;
    transition-duration: 0.6s;
    font-size: 1.25rem;
}
.titleVideo:hover{
    color: #362ef1;

}
.descVideo{
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.5;
    max-width: 80%;   
}
.watch{
    font-family: "Krona One";
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.6s;
}
.watch:hover{
    color: #362ef1;
}
.mont{
    font-family: "Montserrat";
    font-weight: 900;
}
.footerText{
    font-family:'Charlottenburg';
    font-size: 3rem;   
}
.montFooter{
    font-family: "Montserrat";
    font-weight: 400;
}
.textArea{
    resize: none;
    border: solid 2px #000000;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000000;
}
.textArea:focus{
    resize: none;
    border: solid 2px #000000;
    outline: none;
}


.icon {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    display: inline-block;
    opacity: 1;
  }
  .icon:hover {
    transform: rotate(360deg);
  }

  .moreDiv, #moreVideos, .morePost{
    opacity: 0;
    transition-duration: 0.8s;
  }

  .alertIllu{
    margin-top: 106px;
}
.titleulludetails{
    font-family: "Krona One";
    font-weight: 900;
    cursor: pointer;
    transition-duration: 0.6s;
    font-size: 1.25rem;
}
.titleulludetails:hover{
    color: #362ef1;

}
.desciludetails{
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.5;
    max-width: 80%;   
}
.followme{
    font-family: "Krona One";
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.6s;
}
.followme:hover{
    color: #362ef1;
}
.close{
    position: absolute;
    top: 0px;
    right: 0px;
}
.closeIcon{
    font-family: "Krona One";
    font-weight: 900;
    cursor: pointer;
    transition-duration: 0.6s; 
}
.closeIcon:hover{
    color: #362ef1;
}
.screenLoading{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
}
.loader {
    width: 100px;
    height: 100px;
    border: 5px solid #362ef1;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-left: solid 2px #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #362ef1;
    border-left: solid 2px #000000;
}
@media (min-width: 993px){
    #ILLUSTRATIONS, #VIDEOS, #POSTARZ {
        min-height: 100vh;
    }
}
@media (max-width: 992px) {
    .titleVideo, .watch{
    font-size: 0.8rem; 
    }  
    .descVideo{
        font-size: 0.6rem;
    }
    .framecardtwo{
        overflow: hidden;
    }
    .paragraph{
        max-width: 80%;
    }
    .titleIllus{
        font-size: 0.8rem;
    }
    .descIllus{
        font-size: 0.6rem;
    }
    .buttonText{
        font-size: 0.8rem;
}
    .Slogan{
    font-size: 0.8rem;
    }
    .horizintalLine{
    height: 45%;
    }
    .containerone{
        margin-top: 10.125rem;

    }

}